/****************/
/* Section 1 */
/****************/

section:nth-of-type(1) div{
	display: grid;
	grid-template-columns:repeat(2, max-content);
	overflow-y: hidden ;
	inset: 0;	
	
	justify-content: center; /* Center the links horizontally ChatGPT*/
	align-items: center; /* Center the links vertically ChatGPT*/
	place-items: center; /* Zent zowel horizontaal als verticaal chatGPT */
}
section:nth-of-type(1) {
	position: relative;
}

section video{
	position: absolute;
	top: 0;
	left: 0;
	min-width:100vw;
	max-width: 100vw;
	max-height: 100vh;
	z-index:-1;
	object-fit: cover;
	height:1000vh;
	overflow: auto;
  }

  section:nth-of-type(1) div img:nth-of-type(1) {
	width:clamp(10em, 40vw, 20em);
	order:-1;
	grid-column:1/-1;
	padding-top: 1em;
  }

  section:nth-of-type(1) div:nth-of-type(1) h1{
	margin-top: 7em;
	grid-column:1/-1;
  }

  section:nth-of-type(1) div:nth-of-type(1) h2{
	margin-top: -1em;
	grid-column:1/-1;
  }

  section:nth-of-type(1) div:nth-of-type(1) a:nth-of-type(1) img{
	display: block;
	width: 10em;
	margin: 0 1em 10em;

	}

	section:nth-of-type(1) div:nth-of-type(1) a:nth-of-type(2) img {
	display: block;
	width: 10em;
	margin: 0 1em 10em;
	}




/****************/
/* Section 2 */
/****************/


section:nth-of-type(2) {
	display: grid;
	grid-template-rows:max-content max-content max-content;
	grid-template-areas: 
		"titel"
		"omschrijving"
		"plaatjes";
	align-items: center;
	gap:1em;
}


section:nth-of-type(2) h2{
	grid-area:titel;
	/* grid-row-start: 2; */
	align-self: end;
	margin-top: 5em;
  }

section:nth-of-type(2) p{
	grid-area:omschrijving;
	align-self: start;
	padding-left: 20%;  /*andere manier vinden */
	padding-right: 20%; /*andere manier vinden */

  }

section:nth-of-type(2) img{
	grid-area:plaatjes;
	place-self: center;
  }

  /* Tractor */
  section:nth-of-type(2) img:nth-of-type(1) {
	width:100%;
  }

  /* Kat */
  section:nth-of-type(2) img:nth-of-type(2) {
	width:16.7%;
	translate:25% -240%;	
  }

  /* Hond */
  section:nth-of-type(2) img:nth-of-type(3) {
	width:16.7%;
	/* place-self:end start; */
	translate:-230% 125%;	
  }

  @media (width > 60em){
	section:nth-of-type(2) {
		grid-template-rows:2fr 4fr;
		grid-template-columns:28em 1fr;
		gap:0 1em;
		grid-template-areas: 
			"titel        plaatjes"
			"omschrijving plaatjes";
	}
  }

/****************/
/* Section 3 */
/****************/
 
/* telefoon */
section:nth-of-type(3) {
	display: grid;
	grid-template-rows:max-content max-content max-content;
	grid-template-areas: 
		"card"
		"plaatjes";
	place-items: center;
}

section:nth-of-type(3) div {
	grid-area: card;
}

section:nth-of-type(3) img {
	grid-area: plaatjes;
}
/* alles van de div */

section:nth-of-type(3) div:nth-of-type(1) h2{
	padding-top: 4em;
}

section:nth-of-type(3) div:nth-of-type(1) p{
	padding-left: 15%;
	padding-right: 15%;
	margin-bottom: 0;
}


/* man en varken */
section:nth-of-type(3) img:nth-of-type(1) {
	width:50%;
	z-index: 1;
	translate: -30% 30%;
}

/* boom */
section:nth-of-type(3) img:nth-of-type(2) {
	width:40%;
	z-index: -4;
	translate:-110% 0%;
}

/* landschap */
section:nth-of-type(3) img:nth-of-type(3) {
	width:80%;
	border: solid var(--color-wit) 0.5em;
	box-shadow: var(--color-blauweSchaduw) -3px 1.5px 10px;
}

/* bij */
section:nth-of-type(3) img:nth-of-type(4) {
	width: 15%;
	translate:200% 170%;
}



/* middel formaat */
@media (width > 45em ) {
	section:nth-of-type(3) div {
		background-image: url("../images/stickienotes.webp");
		background-size: cover;
		width:75%;
		translate: -30 0;
		aspect-ratio: 1/1;
	}

	section:nth-of-type(3) div:nth-of-type(1) h2{
		padding-top: 5em;
	}
	
	section:nth-of-type(3) div:nth-of-type(1) p{
		padding-left: 30%;
		padding-right: 15%;
		margin-bottom: 0;
	}

	/* man */
	section:nth-of-type(3) img:nth-of-type(1) {
		width:45%;
		z-index: 1;
		translate: -40% -90%;
	}

	/* boom */
	section:nth-of-type(3) img:nth-of-type(2) {
		width:45%;
		translate:-105% -80%;
	}

	/* landschap */
	section:nth-of-type(3) img:nth-of-type(3) {
		width:50%;
		border: solid var(--color-wit) 0.5em;
		box-shadow: var(--color-blauweSchaduw) -3px 1.5px 10px;
		translate:60% -150%;
		rotate: 8deg;
		z-index: -1;
	}

	/* bij */
	section:nth-of-type(3) img:nth-of-type(4) {
		width: 15%;
		translate: 150% -80%;
	}
}

/* grootste formaat */
@media (width > 60em ) {
	section:nth-of-type(3) div {
		background-image: url("../images/stickienotes.webp");
		background-size: cover;
		width:55%;
		aspect-ratio: 1/1;
	}

	section:nth-of-type(3) div:nth-of-type(1) h2{
		font-size: 3em;
		translate: 10% -20%;
	}

	section:nth-of-type(3) div:nth-of-type(1) p{
		translate: 5% -30%;
	}

		/* man */
		section:nth-of-type(3) img:nth-of-type(1) {
			width:25%;
			z-index: 1;
			translate: -100% -250%;
		}
	
		/* boom */
		section:nth-of-type(3) img:nth-of-type(2) {
			width:28%;
			translate:-140% -150%;
		}
	
		/* landschap */
		section:nth-of-type(3) img:nth-of-type(3) {
			width:30%;
			border: solid var(--color-wit) 0.5em;
			box-shadow: var(--color-blauweSchaduw) -3px 1.5px 10px;
			translate:110% -390%;
			z-index: -1;
			rotate: 0deg;
		}
	
		/* bij */
		section:nth-of-type(3) img:nth-of-type(4) {
			width: 8%;
			translate: 450% -650%;
		}
}









/****************/
/* Section 4 */
/****************/


section:nth-of-type(4) {
	display: grid;
	grid-template-rows:max-content max-content max-content;
	grid-template-areas: 
		"titel"
		"omschrijving"
		"plaatjes";
	align-items: center;
}

section:nth-of-type(4) h2{
	grid-area:titel;

  }

section:nth-of-type(4) p{
	grid-area:omschrijving;
	padding-left: 20%;  /*andere manier vinden */
	padding-right: 20%; /*andere manier vinden */

  }

section:nth-of-type(4) img{
	grid-area:plaatjes;
	place-self: center;
  }

  /* bij */
  section:nth-of-type(4) img:nth-of-type(1) {
	width:10%;
  }

  /* Landschap */
  section:nth-of-type(4) img:nth-of-type(2) {
	width:80%;
	border: solid var(--color-wit) 0.5em;
	box-shadow: var(--color-blauweSchaduw) -5px 1.5px 10px;
		
  }

  /* schaap*/
  section:nth-of-type(4) img:nth-of-type(3) {
	width:40%;
	translate: -50% 60%;	
  }


/* Schaap oog 1 links */
section:nth-of-type(4) img:nth-of-type(4) {
	width:2%;	
	translate: -1300% 615%;	
	}
 
/* Schaap oog 2 rechts */
section:nth-of-type(4) img:nth-of-type(5) {
	width:2%;
	translate: -960% 570%;	
  }

  @media (width > 60em){
	section:nth-of-type(4) {
		grid-template-rows:2fr 4fr;
		grid-template-columns:28em 1fr;
		gap:0 1em;
		grid-template-areas: 
			"titel        plaatjes"
			"omschrijving plaatjes";
	}

	/* Landschap */
	section:nth-of-type(4) img:nth-of-type(2) {
		width:70%;
		border: solid var(--color-wit) 0.5em;
		box-shadow: var(--color-blauweSchaduw) -5px 1.5px 10px;
			
	  }
  }







/****************/
/* Section 5 */
/****************/


section:nth-of-type(5) {
	display: grid;
	grid-template-rows:max-content max-content max-content;
	grid-template-areas: 
		"titel"
		"omschrijving"
		"plaatjes";
	align-items: center;
	margin-top: 7em;
}

section:nth-of-type(5) h2{
	grid-area:titel;
	align-self: end;
	/* translate: 0% -600%; */
  }

section:nth-of-type(5) p{
	grid-area:omschrijving;
	align-self: start;
	padding-left: 20%;  /*andere manier vinden */
	padding-right: 20%; /*andere manier vinden */

  }

section:nth-of-type(5) img{
	grid-area:plaatjes;
	place-self: center;
  }

/* Landschap */
section:nth-of-type(5) img:nth-of-type(1) {
	width:80%;
	border: solid var(--color-wit) 0.5em;
	box-shadow: var(--color-blauweSchaduw) -5px 1.5px 10px;			
 }

  /* kip */
  section:nth-of-type(5) img:nth-of-type(2) {
	width:25%;
	translate: -100% 40%;
  }


  @media (width > 60em){
	section:nth-of-type(5) {
		grid-template-rows:2fr 4fr;
		grid-template-columns:28em 1fr;
		gap:0 1em;
		grid-template-areas: 
			"plaatjes      titel"
			"plaatjes      omschrijving";
	}

	/* Landschap */
	section:nth-of-type(5) img:nth-of-type(1) {
		width:70%;
		border: solid var(--color-wit) 0.5em;
		box-shadow: var(--color-blauweSchaduw) -5px 1.5px 10px;
			
	  }
  }






/****************/
/* Section 6 */
/****************/


section:nth-of-type(6) {
	display: grid;
	grid-template-rows:max-content max-content max-content;
	grid-template-areas: 
		"titel"
		"omschrijving"
		"plaatjes";
	place-items: center;
	padding-bottom: 7em;
}

section:nth-of-type(6) h2{
	grid-area:titel;
	margin-top:2em;
  }

section:nth-of-type(6) p{
	grid-area:omschrijving;
	padding-left: 20%;  /*andere manier vinden */
	padding-right: 20%; /*andere manier vinden */
  }

section:nth-of-type(6) article{
	position: relative;
	grid-area:plaatjes;
	place-items: center;
  }

section:nth-of-type(6) article img {
	position: relative;
	align-items: center;
	order: -2;
}

section:nth-of-type(6) article h3{
	position: absolute;
  }

  /* valley */
  section:nth-of-type(6) article:nth-of-type(1) img {
	width:60%;
	border: solid var(--color-wit) 0.5em;
	box-shadow: var(--color-blauweSchaduw) -5px 1.5px 10px;
	translate: 0% 0%;
  } 


  /* fishing */
  section:nth-of-type(6) article:nth-of-type(2) img {
	width:60%;
	border: solid var(--color-wit) 0.5em;
	box-shadow: var(--color-blauweSchaduw) -5px 1.5px 10px;	
	translate: 0% 100%;
  }


  /* town*/
  section:nth-of-type(6) article:nth-of-type(3) img {
	width:60%;
	border: solid var(--color-wit) 0.5em;
	box-shadow: var(--color-blauweSchaduw) -5px 1.5px 10px;
	translate: 0% 200%;
  }

  /* vis*/
  section:nth-of-type(6) img:nth-of-type(4) {
	width:30%;
	translate: 200% 200%;
  }


  @media (width > 60em){
	section:nth-of-type(6) {
		grid-template-rows:2fr 4fr;
		grid-template-columns:28em 1fr;
		gap:0 1em;
		grid-template-areas: 
			"titel        plaatjes"
			"omschrijving plaatjes";
	}
  }







  
/****************/
/* Section 7 */
/****************/


section:nth-of-type(7) {
	display: grid;
	grid-template-rows:max-content max-content max-content;
	grid-template-areas: 
		"logo"
		"titel"
		"omschrijving";
	place-items: center;
	background-image: url("../images/kitchen_pattern-tablet.jpg");
	background: repeat 10;
}

section:nth-of-type(7) h2{
	grid-area:titel;
  }

section:nth-of-type(7) p{
	grid-area:omschrijving;
	padding-left: 20%;  /*andere manier vinden */
	padding-right: 20%; /*andere manier vinden */
  }

  /* logo */
  section:nth-of-type(7) img {
	grid-area:logo;
	width:40%;
  } 

/* kreeft */
	section:nth-of-type(7) img:nth-of-type(2){
		grid-area:omschrijving;
		display: none;
	  } 

/* taart */
section:nth-of-type(7) img:nth-of-type(3){
	grid-area:omschrijving;
	display: none;
  } 

/* plank */
section:nth-of-type(7) img:nth-of-type(4){
	grid-area:omschrijving;
	width: 100%;
	translate: 0% 210%;
  } 
 
  @media (width > 60em){
	section:nth-of-type(6) {
		grid-template-rows:2fr 4fr;
		grid-template-columns:28em 1fr;
		gap:0 1em;
		grid-template-areas: 
			"titel        plaatjes"
			"omschrijving plaatjes";
	}

	/* kreeft */
	section:nth-of-type(7) img:nth-of-type(2){
		grid-area:omschrijving;
		width:10%;
		display: block;
	  } 

	/* taart */
	section:nth-of-type(7) img:nth-of-type(3){
	grid-area:omschrijving;
	display: none;
  } 
  }