/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
}
 

/*********************/
/* Kleuren */
/*********************/
:root {
	/* startje */
	--color-zwart:#000000;
	--color-footer:#000000;
	--color-footer-wit:#fff;
	--color-donkerbruin:#38322c;
	--color-donkerbruin-button:#595242;
	--color-dot:#7f7e7c;
	--color-beige:#eee;
	--color-wit:#fff;
	--color-lichtGrijs:#cdcdcd;
	--color-blauweSchaduw:rgb(19, 45, 99);
	--color-achtergrond-light:rgb(251,244,232,255);
	--color-lichtblauwSchaduw:#87ceec;
	--gradient-oranje: linear-gradient(0deg, #faac00, #e69702 35%, #e69900 45%, #f9e249 92%);
	--gradient-hover-oranje: linear-gradient(0deg, #ffbe32, #ffca68 35%, #ffcd68 45%, #f9e249 92%);
	--gradient-groen: linear-gradient(0deg, #6fcf45, #6ecb45 25%, #78dd4b 45%, #95e46f);
	--gradient-hover-groen: linear-gradient(0deg, #aaff85, #79ff3f 25%, #9be37d 45%, #c5ffab);
	--color-achtergrondPagina2: #f9dd55;
	--gradient-tweedePagina: linear-gradient(180deg, #56ccf2, #e0f4fb 90%, #f9dd55);
	--color-oranjeStrong:#c96b00;

	--grass-background-color:rgb(251, 110, 110);
	--grass-stripe-color:rgba(255 255 255 / .1);
	--grass-stripe-transparent:rgba(255 255 255 / 0);
	--grass-stripes:
		repeating-linear-gradient(
	  	45deg,
	  	var(--grass-stripe-color) 0 2em,
	  	var(--grass-stripe-transparent) 2em 4em
		),
		repeating-linear-gradient(
	 		 -45deg,
	 	 var(--grass-stripe-color) 0 2em,
	 	 var(--grass-stripe-transparent) 2em 4em
	);
	  }

 @media (prefers-color-scheme:dark) {
	:root {
		--color-zwart:#fff;
		--color-footer:#000000;
		--color-donkerbruin:#ffffff;
		--color-donkerbruin-button:#595242;
		--color-dot:#7f7e7c;
		--color-beige:#eeeeee;
		--color-wit:#000;
		--color-lichtGrijs:#cdcdcd;
		--color-blauweSchaduw:rgb(19, 45, 99);
		--color-achtergrond-light:#2f2a6a;;
		--color-lichtblauwSchaduw:#87ceec;
		--gradient-oranje: linear-gradient(0deg, #fa6400, #e63f02 35%, #e68600 45%, #f98949 92%);
		--gradient-hover-oranje: linear-gradient(0deg, #b00c00, #ff4242 35%, #ff5811 45%, #f99549 92%);
		--gradient-groen: linear-gradient(0deg, #1f6900, #267f00 25%, #2a5517 45%, #38a107);
		--gradient-hover-groen: linear-gradient(0deg, #428525, #61a045 25%, #4c7a39 45%, #71ae54);
		--color-achtergrondPagina2: #8e653c;
		--gradient-tweedePagina: linear-gradient(180deg, #0d0445, #001cd2 90%, #8e653c);
		--color-oranjeStrong:#9baeff;
		--grass-background-color:rgb(43, 27, 105);
		  }
	}	  


/*********************/
/* Fonts */
/*********************/
@font-face {
	font-family: paragraaf;
	src: url(../fonts/CCBackBeat.2bb42b5.woff2);
}

@font-face {
	font-family: bodySchrift;
	src: url(../fonts/Lobster.8c78a5c.woff2);
}

@font-face {
	font-family: kopjes;
	src: url(../fonts/SCSecretOriginsBB.af4f153.woff2);
}

@font-face {
	font-family: footer;
	src: url(../fonts/SupercellText-Medium.1919815.woff2);
}

/*********************/
/* main */
/*********************/
main {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	/* overflow-y: scroll; */
	/* overflow-x: hidden ; */
  }


/*********************/
/* body */
/*********************/

.inbeeld{
	opacity:1;
	translate: 0 0;
  }

h1{
font-family: kopjes;
	font-size:clamp(2em, 4vw, 10em);
	color: var(--color-beige);
	text-decoration-style: solid;
	text-shadow: var(--color-blauweSchaduw) -1.5px -1.5px 0px,
					 var(--color-blauweSchaduw) 0px -1.5px 0px,
					 var(--color-blauweSchaduw) 1.5px -1.5px 0px,
					 var(--color-blauweSchaduw) 1.5px 0px 0px,
					 var(--color-blauweSchaduw) 1.5px 1.5px 0px,
					 var(--color-blauweSchaduw) 0px 1.5px 0px,
					 var(--color-blauweSchaduw) -1.5px 1.5px 0px,
					 var(--color-blauweSchaduw) -1.5px 0px 0px,
					 var(--color-blauweSchaduw) 0px 4px 0px,
					 var(--color-blauweSchaduw) -1.5px 4px 0px,
					 var(--color-blauweSchaduw) 1.5px 4px 0px,
					 var(--color-blauweSchaduw) 3px 3px 3px;
	/* text-shadow: rgb(19, 45, 99) -1.5px -1.5px 0px, 
					rgb(19, 45, 99) 0px -1.5px 0px, 
					rgb(19, 45, 99) 1.5px -1.5px 0px, 
					rgb(19, 45, 99) 1.5px 0px 0px, 
					rgb(19, 45, 99) 1.5px 1.5px 0px, 
					rgb(19, 45, 99) 0px 1.5px 0px, 
					rgb(19, 45, 99) -1.5px 1.5px 0px, 
					rgb(19, 45, 99) -1.5px 0px 0px, 
					rgb(19, 45, 99) 0px 4px 0px, 
					rgb(19, 45, 99) -1.5px 4px 0px, 
					rgb(19, 45, 99) 1.5px 4px 0px, 
					rgba(0, 0, 0, 0.5) 3px 3px 3px;
	tekst schaduw gepakt van de website, zodat hij het zelfde word als de website, de code veranderd tot goeie */
	text-align: center;
	translate:0 100%;
	transition: 1s;
	opacity:0;
}


h2{
	font-family: kopjes;
	/* https://websemantics.uk/tools/responsive-font-calculator/?utm_source=pocket_saves */
	font-size: clamp(35px, calc(2.1875rem + ((1vw - 4px) * 1.6447)), 60px);
	min-height: 0vw;

	color: var(--color-beige);
	text-decoration-style: solid;
	text-shadow: var(--color-blauweSchaduw) -1.5px -1.5px 0px,
					 var(--color-blauweSchaduw) 0px -1.5px 0px,
					 var(--color-blauweSchaduw) 1.5px -1.5px 0px,
					 var(--color-blauweSchaduw) 1.5px 0px 0px,
					 var(--color-blauweSchaduw) 1.5px 1.5px 0px,
					 var(--color-blauweSchaduw) 0px 1.5px 0px,
					 var(--color-blauweSchaduw) -1.5px 1.5px 0px,
					 var(--color-blauweSchaduw) -1.5px 0px 0px,
					 var(--color-blauweSchaduw) 0px 4px 0px,
					 var(--color-blauweSchaduw) -1.5px 4px 0px,
					 var(--color-blauweSchaduw) 1.5px 4px 0px,
					 var(--color-blauweSchaduw) 3px 3px 3px;
	/* text-shadow: rgb(19, 45, 99) -1.5px -1.5px 0px, 
					rgb(19, 45, 99) 0px -1.5px 0px, 
					rgb(19, 45, 99) 1.5px -1.5px 0px, 
					rgb(19, 45, 99) 1.5px 0px 0px, 
					rgb(19, 45, 99) 1.5px 1.5px 0px, 
					rgb(19, 45, 99) 0px 1.5px 0px, 
					rgb(19, 45, 99) -1.5px 1.5px 0px, 
					rgb(19, 45, 99) -1.5px 0px 0px, 
					rgb(19, 45, 99) 0px 4px 0px, 
					rgb(19, 45, 99) -1.5px 4px 0px, 
					rgb(19, 45, 99) 1.5px 4px 0px, 
					rgba(0, 0, 0, 0.5) 3px 3px 3px;
	tekst schaduw gepakt van de website, zodat hij het zelfde word als de website, de code veranderd tot goeie */
	text-align: center;
	margin: 0;
	translate:0 100%;
	opacity:0;
	transition: 1s;
}


h3{
	font-family: bodySchrift;
	/* font-size:clamp(2em, 3vw, 10em); */
	font-size: 2em;
	color: var(--color-beige);
	text-decoration-style: solid;
	text-shadow: var(--color-lichtblauwSchaduw) -1px -1px 0px,
				var(--color-lichtblauwSchaduw) 0px -1px 0px,
				var(--color-lichtblauwSchaduw) 0.5px 0px 0px,
				var(--color-lichtblauwSchaduw) 0px 1px 0px,
				var(--color-lichtblauwSchaduw) 1.5px 1.5px 0px,
				var(--color-blauweSchaduw) 1.5px 1.5px 0px;
	translate:0 0;
	transition: 1s;
	opacity:0;
}

h4{
	font-family: paragraaf;
	font-size: 0.7em;
	color: var(--color-donkerbruin);
	translate:0 100%;
	transition: 1s;
	opacity:0;
	}

h5{
	font-family: paragraaf;
	font-size: 1.5em;
	color: var(--color-zwart);
	text-transform: uppercase;
	font-weight:500;
	line-height: 139%;
	padding: 0;
	margin: 0;
	translate:0 100%;
	transition: 1s;
	opacity:0;
	}

h6{
	font-family: paragraaf;
	/* font-size:clamp(0.8em, 2.5vw, 2em); */
	font-size: 1em;
	font-weight: 100;
	color: var(--color-zwart);
	translate:0 100%;
	transition: 1s;
	opacity: 0;
	}

p{
	font-family: paragraaf;
	font-size: 1.2em;
	color: var(--color-donkerbruin);
	translate:0 100%;
	transition: 1s;
	opacity:0;
	}


footer {
	background-color: var(--color-footer);
	margin: 0;
	padding: 2em;
	}

footer section ul:nth-of-type(1) {
	display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
    margin: 0; 
	padding-top: 1em;
}

footer section div:nth-of-type(1){
	display: flex;
	margin: 0;
	padding: 0;
}

footer section div:nth-of-type(1) li img {
	display: flex;
	justify-content: flex-end;	
	
}

footer ul li {
    margin: 0.25em;
}

footer a{
font-family: footer;
font-size: 0.8em;
margin: 0.25em;
color: var(--color-lichtGrijs);
text-decoration: none;
}

footer a:hover{
	color: var(--color-footer-wit);
}

footer section ul:nth-of-type(2){
	display: flex;
	margin-top: 2em;
	padding-bottom: 2em;
	align-items:  center;
}

footer section ul:nth-of-type(2) li img {
	width: 2em;
	margin-left: 0.5em;
	display: flex;
}

footer section ul:nth-of-type(2) li{
	list-style: none;
}

footer section ul:nth-of-type(2) li:nth-of-type(2){
	margin-right: auto;
}


@media (prefers-reduced-motion){
	section:nth-of-type(6) figure,
	section:nth-of-type(7) button,
	section:nth-of-type(8) button,
	section:nth-of-type(9) a button,
	section:nth-of-type(2) button,
	section:nth-of-type(4) dialog div button,
	section:nth-of-type(5) button,
	section:nth-of-type(6) button,
	#closeDialogButton,
	#openDialogButton,
	h2, h2, h3, h4, h5, h6, p,
	.dot{
		transition: none;
	}
	}
