/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
}
 

/*********************/
/* Kleuren */
/*********************/
:root {
	/* startje */
	--color-zwart:#000000;
	--color-donkerbruin:#38322c;
	--color-beige:#eee;
	--color-wit:#fff;
	--color-blauweSchaduw:rgb(19, 45, 99);
	--color-achtergrond-light:rgb(251,244,232,255)
}

/*********************/
/* Fonts */
/*********************/
@font-face {
	font-family: paragraaf;
	src: url(../fonts/CCBackBeat.2bb42b5.woff2);
}

@font-face {
	font-family: bodySchrift;
	src: url(../fonts/Lobster.8c78a5c.woff2);
}

@font-face {
	font-family: kopjes;
	src: url(../fonts/SCSecretOriginsBB.af4f153.woff2);
}

@font-face {
	font-family: footer;
	src: url(../fonts/SupercellText-Medium.1919815.woff2);
}

/*********************/
/* main */
/*********************/
main {
	height: 100vh;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	/* overflow-y: scroll; */
	/* overflow-x: hidden ; */
  }


/*********************/
/* body */
/*********************/

body{
	margin: 0;
	padding: 0;
	background-color: var(--color-achtergrond-light);
}


h1{
font-family: kopjes;
	font-size:clamp(2em, 4vw, 10em);
	color: var(--color-beige);
	text-decoration-style: solid;
	text-shadow: var(--color-blauweSchaduw) -1.5px -1.5px 0px,
				 var(--color-blauweSchaduw) 0px -1.5px 0px,
				 var(--color-blauweSchaduw) 1.5px -1.5px 0px,
				 var(--color-blauweSchaduw) 1.5px 0px 0px,
				 var(--color-blauweSchaduw) 1.5px 1.5px 0px,
				 var(--color-blauweSchaduw) 0px 1.5px 0px,
				 var(--color-blauweSchaduw) -1.5px 1.5px 0px,
				 var(--color-blauweSchaduw) -1.5px 0px 0px,
				 var(--color-blauweSchaduw) 0px 4px 0px,
				 var(--color-blauweSchaduw) -1.5px 4px 0px,
				 var(--color-blauweSchaduw) 1.5px 4px 0px,
				 var(--color-blauweSchaduw) 3px 3px 3px;
	/* text-shadow: rgb(19, 45, 99) -1.5px -1.5px 0px, 
					rgb(19, 45, 99) 0px -1.5px 0px, 
					rgb(19, 45, 99) 1.5px -1.5px 0px, 
					rgb(19, 45, 99) 1.5px 0px 0px, 
					rgb(19, 45, 99) 1.5px 1.5px 0px, 
					rgb(19, 45, 99) 0px 1.5px 0px, 
					rgb(19, 45, 99) -1.5px 1.5px 0px, 
					rgb(19, 45, 99) -1.5px 0px 0px, 
					rgb(19, 45, 99) 0px 4px 0px, 
					rgb(19, 45, 99) -1.5px 4px 0px, 
					rgb(19, 45, 99) 1.5px 4px 0px, 
					rgba(0, 0, 0, 0.5) 3px 3px 3px;
	tekst schaduw gepakt van de website, zodat hij het zelfde word als de website, de code veranderd tot goeie */
	text-align: center;
}

h2{
	font-family: kopjes;
	/* font-size:clamp(2em, 3vw, 10em); */
	font-size: 2em;
	color: var(--color-beige);
	text-decoration-style: solid;
	text-shadow: var(--color-blauweSchaduw) -1.5px -1.5px 0px,
					 var(--color-blauweSchaduw) 0px -1.5px 0px,
					 var(--color-blauweSchaduw) 1.5px -1.5px 0px,
					 var(--color-blauweSchaduw) 1.5px 0px 0px,
					 var(--color-blauweSchaduw) 1.5px 1.5px 0px,
					 var(--color-blauweSchaduw) 0px 1.5px 0px,
					 var(--color-blauweSchaduw) -1.5px 1.5px 0px,
					 var(--color-blauweSchaduw) -1.5px 0px 0px,
					 var(--color-blauweSchaduw) 0px 4px 0px,
					 var(--color-blauweSchaduw) -1.5px 4px 0px,
					 var(--color-blauweSchaduw) 1.5px 4px 0px,
					 var(--color-blauweSchaduw) 3px 3px 3px;
	/* text-shadow: rgb(19, 45, 99) -1.5px -1.5px 0px, 
					rgb(19, 45, 99) 0px -1.5px 0px, 
					rgb(19, 45, 99) 1.5px -1.5px 0px, 
					rgb(19, 45, 99) 1.5px 0px 0px, 
					rgb(19, 45, 99) 1.5px 1.5px 0px, 
					rgb(19, 45, 99) 0px 1.5px 0px, 
					rgb(19, 45, 99) -1.5px 1.5px 0px, 
					rgb(19, 45, 99) -1.5px 0px 0px, 
					rgb(19, 45, 99) 0px 4px 0px, 
					rgb(19, 45, 99) -1.5px 4px 0px, 
					rgb(19, 45, 99) 1.5px 4px 0px, 
					rgba(0, 0, 0, 0.5) 3px 3px 3px;
	tekst schaduw gepakt van de website, zodat hij het zelfde word als de website, de code veranderd tot goeie */
	text-align: center;
	margin: 0;
	}

p{
	font-family: paragraaf;
	/* font-size:clamp(0.8em, 2.5vw, 2em); */
	font-size: 1.2em;
	color: var(--color-donkerbruin);
	}

	img {
		max-width:100%;
	}


	footer {
		display:none;
	}