
body{
	margin: 0;
	padding: 0;
	background-color: var(--color-achtergrondPagina2);
}

/*********************/
/* Section 1 */
/*********************/
main section:nth-of-type(1) {
	display: grid;
	grid-template-areas:
		"logo"
		"titel"
		"video";
	background: var(--gradient-tweedePagina);
	place-items: center;
}

main section:nth-of-type(1) img:nth-of-type(1){
	grid-area:logo;
	width: 40%;
	place-self: start center;
	padding-top: 2em;
	z-index: 1;
  }

main section:nth-of-type(1) img:nth-of-type(2){
	grid-area:logo;
	width: 45%;
	translate: 0% 110%;
	z-index: 1;
  }


  main section:nth-of-type(1) h1 {
	grid-area:titel;
	translate: 0% 20%;
	z-index: 10;
  } 

/* video */
main section:nth-of-type(1) iframe{
		grid-area:video;
		border: solid var(--color-wit) 0.5em;
		align-items: center;
		z-index: 1;
		}
	

/* boom links */
main section:nth-of-type(1) img:nth-of-type(3){
	grid-area:video;
	width: 90%;
	place-self: start;
	translate: -50% -10%;
	
  } 

/* boom rechts */
main section:nth-of-type(1) img:nth-of-type(4){
	grid-area:video;
	width: 80%;
	place-self: start;
	translate: 70% -5%;
  } 

/* nijlpaard */
main section:nth-of-type(1) img:nth-of-type(5){
	grid-area:video;
	width: 40%;
	place-self: start end;
	translate: 0% 150%;
	z-index: 1;

  } 
 
/* olifant */
main section:nth-of-type(1) img:nth-of-type(6){
	grid-area:video;
	width: 50%;
	transform: scaleX(-1);
	translate: -50% 45%;
	z-index: 1;
  } 



  /* nog groter */
  @media (width > 50em){
	main section:nth-of-type(1) img:nth-of-type(1){
		grid-area:logo;
		width: 20%;
		place-self: start center;
		padding-top: 2em;
		z-index: 1;
	  }
	
	main section:nth-of-type(1) img:nth-of-type(2){
		grid-area:logo;
		width: 25%;
		translate: 0% 110%;
		z-index: 1;
	  }
  } 

  

/*********************/
/* Section 2 */
/*********************/

section:nth-of-type(2) {
	display: grid;
	grid-template-areas:
		"titel"
		"omschrijving"
		"slideshow";
	place-items: center;
}
section:nth-of-type(2) h2{
	grid-area: titel;
}

section:nth-of-type(2) p{
	grid-area: omschrijving;
	padding-left: 10%;
	padding-right: 10%;
}

.slideShow{
	grid-area: slideshow;
	width: 90%;
}

section:nth-of-type(2) button{
	grid-area: slideshow;
	background: var(--gradient-groen);
	border: 0.1em solid var(--color-wit);
	border-bottom: 1px solid var(--color-blauweSchaduw);
	border-radius: 10px;
	border-right: 1px solid var(--color-blauweSchaduw);
	box-shadow: inset 0 0 1px 0 var(--color-blauweSchaduw), 0 3px 1px -3px var(--color-blauweSchaduw);
	color: var(--color-beige);
	font-family: kopjes;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: .2px;
	padding: 8px 15px 6px;
	text-shadow:	-1.2px -1.2px 0 var(--color-blauweSchaduw), 
					0 -1.2px 0 var(--color-blauweSchaduw), 
					1.2px -1.2px 0 var(--color-blauweSchaduw), 
					1.2px 0 0 var(--color-blauweSchaduw), 
					1.2px 1.2px 0 var(--color-blauweSchaduw), 
					0 1.2px 0 var(--color-blauweSchaduw),
					-1.2px 1.2px 0 var(--color-blauweSchaduw),
					-1.2px 0 0 var(--color-blauweSchaduw),
					0 1.2px 0 var(--color-blauweSchaduw),
					-1.2px 1.2px 0 var(--color-blauweSchaduw),
					1.2px 1.2px 0 var(--color-blauweSchaduw);
	cursor: pointer;
	transition: transform 0.2s ease;
}

section:nth-of-type(2) button:hover {
transform: scale(1.2);
cursor: pointer;
background: var(--gradient-hover-groen);

}
/* button links */
section:nth-of-type(2) button:nth-of-type(1){
	place-self: end center;
	translate: -80% -200%;
}

/* button rechts */
section:nth-of-type(2) button:nth-of-type(2){
	place-self: end center;
	translate: 80% -200%;
}

/* boom links */
section:nth-of-type(2) img:nth-of-type(5){
	grid-area: slideshow;
	width: 80%;
	rotate: 12deg;
	translate: -80% 30%;
}

/* boom rechts */
section:nth-of-type(2) img:nth-of-type(6){
	grid-area: slideshow;
	width: 80%;
	rotate: -12deg;
	translate: 80% 50%;
}




@media (width > 35em){
/* button links */
section:nth-of-type(2) button:nth-of-type(1){
	translate: -80% -300%;
}

/* button rechts */
section:nth-of-type(2) button:nth-of-type(2){
	translate: 80% -300%;
}

.slideShow{
	grid-area: slideshow;
	width: 80%;
}
}

@media (width > 45em){
	/* button links */
	section:nth-of-type(2) button:nth-of-type(1){
		translate: -80% -500%;
	}
	
	/* button rechts */
	section:nth-of-type(2) button:nth-of-type(2){
		translate: 80% -500%;	
	}
	.slideShow{
		grid-area: slideshow;
		width: 70%;
	}
}

@media (width > 60em){
	/* button links */
	section:nth-of-type(2) button:nth-of-type(1){
		translate: -80% -700%;
	}
				
	/* button rechts */
	section:nth-of-type(2) button:nth-of-type(2){
		translate: 80% -700%;
	}

	.slideShow{
		grid-area: slideshow;
		width: 70%;
	}
}






/*********************/
/* Section 3 */
/*********************/
section:nth-of-type(3) {
	display: grid;
	place-items: center;
}


section:nth-of-type(3) p:nth-of-type(1){
	margin: 0;
}

section:nth-of-type(3) ul{
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	place-items: center;
}

section:nth-of-type(3) li{
	display: grid;
	list-style: none;
	margin: 1em;
	/* padding: 45px 0 25px;
	position: relative; */
}

/* fotos goeie grote en aanspreken */
section:nth-of-type(3) img:nth-of-type(1){
	width:101%;
	height:auto;
	align-self:stretch;
	object-fit:cover;
	display:block;
  }

  section:nth-of-type(3) li:nth-of-type(2) img{
	width:118%;
	margin-left: -7%;
	margin-top: 12%;
	height:auto;
	align-self:stretch;
	object-fit:cover;
	display:block;
	}


section:nth-of-type(3) li:nth-of-type(3) img{
	width:116%;
	margin-right: -30%;
	height:auto;
	align-self:stretch;
	object-fit:cover;
	display:block;
  }

section:nth-of-type(3) li:nth-of-type(4) img{
	width:102%;
	margin-right: -3%;
	margin-top: 8%;
	height:auto;
	align-self:stretch;
	object-fit:cover;
	display:block;
  }

/* blok1 afbeelding */
section:nth-of-type(3)li img {
	align-self:stretch;
	object-fit:cover;
	width:100%;
	height:auto;
  }
  
section:nth-of-type(3) li h5 {
	background-color: var(--color-wit);
	padding: 1em;
	order: 2;
	margin: 0;
  }

  /*  p */
section:nth-of-type(3) li p {
	background-color: var(--color-wit);
	order: 2;
	padding: 1.5em;
  }

  /*  p */
  section:nth-of-type(3) > p {
	padding-left: 10%;
	padding-right: 10%;
  }

  @media (width > 40em){
	/* button links */
	section:nth-of-type(3) ul{
		grid-template-columns: 1fr 1fr;
	}
}






/*********************/
/* Section 4 */
/*********************/
section:nth-of-type(4){
	display: grid;
	position: relative;
	place-items: center;
}

section:nth-of-type(4)  article:nth-of-type(1){
	display: grid;
	width: 80%;
}

section:nth-of-type(4) h2 {
	margin-top: 2em;
	margin-bottom: 0.5em;
  }

/*  foto bij tekst */
section:nth-of-type(4) article:nth-of-type(1) > img:nth-of-type(1) {
	width: 100%;
	order:-1;
  }

section:nth-of-type(4) article:nth-of-type(1) > h5 {
	background-color: var(--color-wit);
	padding: 1em;
  }

  /*  p */
section:nth-of-type(4) article:nth-of-type(1) > p:nth-of-type(1) {
	background-color: var(--color-wit);
	color: var(--color-zwart);
	padding: 1.5em;
	margin: 0;
  }

  #closeDialogButton{
	border: none;
	font-family: footer;
	font-size: 3em;
	font-weight:800;
	line-height: 139%;
	padding: 0;
	margin: 0;
	transition: transform 0.5s ease;
	place-self: start end;
	border: none;
	background-color: var(--color-wit);
	position: absolute;
	z-index: 2;
	justify-self:end;
	color: var(--color-zwart);
}

#closeDialogButton:hover {
	color: var(--color-oranjeStrong);
	transform: scale(1.2);
	cursor: pointer;
	display: block;
	padding: 0 auto;
  }


#openDialogButton{
	border: none;
	font-family: paragraaf;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight:500;
	line-height: 139%;
	padding: 0;
	margin: 0;
	background-color: var(--color-wit);
	transition: transform 0.5s ease;
	border: none;
	color: var(--color-zwart);
}

#openDialogButton:hover {
	color: var(--color-oranjeStrong);
	cursor: pointer;
	display: block;
	padding: 0 auto;
  }

  /* olifant */
section:nth-of-type(4) > img:nth-of-type(1){
	max-width: 40%;
	translate: 80% -30%;
} 

/* boom */
section:nth-of-type(4) img:nth-of-type(2){
	width: 100%;
	translate: -60% 10%;
	position: absolute;
} 

@media (width > 50em){
	section:nth-of-type(4) article{
		width: 80%;
		grid-template-columns:1fr 1fr;
		grid-template-rows:2fr 4fr;
		max-height: fit-content;
	}

	/* foto bij tekst */
	section:nth-of-type(4) article > img:nth-of-type(1){
		grid-column: 1/-1;
		grid-row: 1/4;
		width: 70%;
		place-self: start;
		z-index: -1;
		translate: 20% 0%;
	}

section:nth-of-type(4) article:nth-of-type(1) h5 {
		grid-row: 1/-1;
		grid-column: 1/1;
	  }

section:nth-of-type(4) article:nth-of-type(1) > p:nth-of-type(1) {
		grid-row: 2/-1;
		grid-column: 1/1;
		margin: 0;
		padding: 0;
	  }
	
section:nth-of-type(4) article:nth-of-type(1) button {
		grid-row: 3/-1;
		grid-column: 1/1;
		padding-bottom: 1em;
	  }
	  /*  p */
	section:nth-of-type(4) article:nth-of-type(1) > p:nth-of-type(1) {
		background-color: var(--color-wit);
		padding: 1.5em;
		margin: 0;
	  }

/* boom */
section:nth-of-type(4) img:nth-of-type(2){
	width: 60%;
	translate: 90% 0%;
	position: absolute;
	z-index: -1;
} 

  /* olifant */
  section:nth-of-type(4) > img:nth-of-type(1){
	max-width: 40%;
	translate: 80% -60%;
} 
}

/* Dialog slideshow */

   /* De container voor de slideshow */
   section:nth-of-type(4) figure {
	max-width: 1000px;
	position: relative;
	margin: auto;
	display: none; /* Verberg standaard alle figuren */
  }

  /* Stijl voor de afbeeldingen */
  section:nth-of-type(4) figure img {
	vertical-align: middle;
	width: 100%;
  }


  /* De puntjes/bolletjes onder de slideshow */
  section:nth-of-type(4) figcaption{
	text-align: center;
  }

  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 1em 2px;

	background-color: var(--color-dot);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease forwards;
}

.dot:hover {
    background-color: var(--color-oranjeStrong); 
}


/* dialog */
section:nth-of-type(4) dialog {
	display: gr;
}

section:nth-of-type(4) dialog p,
section:nth-of-type(4) dialog h5{
	padding: 0 2em 0 2em;
	color: var(--color-footer);
}

section:nth-of-type(4) dialog p:nth-of-type(3){
	margin-bottom: 15%;
}

  /* Fade animatie voor de slides */
  section:nth-of-type(4) figure {
	animation-name: fade;
	animation-duration: 1.5s;
  }

  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }



section:nth-of-type(4) div{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"omschrijving" 
	"button";
	background-color: var(--color-achtergrondPagina2);
	border-radius: 15px;
	place-items: center;
	padding-top: 1em;
}

section:nth-of-type(4) dialog div p{
	grid-area: omschrijving;
	padding: 1.5em;
	margin: 0;

}

section:nth-of-type(4) dialog div button{
	background-color: var(--color-donkerbruin-button);
    color: var(--color-beige);
    font-family: paragraaf;
    font-size: 15px;
    font-weight: 500;
    max-width: 300px;
    padding: 20px 40px;
	border-radius: 60px;
    width: 100%;
	transition: transform 0.5s ease;
	margin-bottom: 2em;
}


section:nth-of-type(4) dialog div button:hover {
	cursor: pointer;
	background: var(--color-oranjeStrong);
}

section:nth-of-type(4) dialog img:nth-of-type(2){
	z-index: 1;
	width: 30%;
	translate: -110% -45%;
}
 
 

/*********************/
/* Section 5 */
/*********************/

section:nth-of-type(5){
	display: grid;
	grid-template-columns:min(100%, 40em);
	justify-content: center;
    align-content: center;
	place-items: center;
	background-image: url("../images/pagina2/achtergrond_wolken.jpg");
	background-size: cover;
	grid-column: 1 / -1;
}

@media (prefers-color-scheme:dark) {
	section:nth-of-type(5) {
		background-image: url("../images/pagina2/achtergrond_wolken_darkmode.jpg");
	}
}

section:nth-of-type(5) h5{
	margin-top: 2em;
}

section:nth-of-type(5) button{
	background-color: var(--color-donkerbruin-button);
    color: var(--color-beige);
    font-family: paragraaf;
    font-size: 18px;
    font-weight: 500;
    max-width: 270px;
    padding: 20px 25px;
	border-radius: 60px;
    width: 100%;
	transition: transform 0.5s ease;
 } 

section:nth-of-type(5) button:hover {
	transform: scale(1.2);
	cursor: pointer;
	background: var(--gradient-hover-oranje);
}

section:nth-of-type(5) img{
	width: 20%;
}

strong{
	font-weight: bolder;
	color: var(--color-oranjeStrong);
}





/*********************/
/* Section 6 */
/*********************/

/* telefoon */
section:nth-of-type(6) {
	display: grid;
	grid-template-rows:max-content max-content max-content;
	grid-template-areas: 
		"titel"
		"omschrijving"
		"buttons"
		"afbeeldingen";
	place-items: center;
}

section:nth-of-type(6) h2{
	margin-top: 4em;
	grid-area: titel;
}

section:nth-of-type(6) p{
	grid-area: omschrijving;
}

section:nth-of-type(6) button:nth-of-type(1){
	translate: 90% 0%;
}

section:nth-of-type(6) button:nth-of-type(2){
	translate: -90% 0%;
}

section:nth-of-type(6) button{
	margin-top: 1em;
	grid-area: buttons;
	
	background: var(--gradient-groen);
	border: 1px var(--color-wit);
    border-bottom: 1px solid var(--color-blauweSchaduw);
    border-radius: 60px;
    border-right: 1px solid var(--color-donkerbruin-button);
    text-shadow:	-1.2px -1.2px 0 var(--color-blauweSchaduw), 
						0 -1.2px 0 var(--color-blauweSchaduw), 
						1.2px -1.2px 0 var(--color-blauweSchaduw), 
						1.2px 0 0 var(--color-blauweSchaduw), 
						1.2px 1.2px 0 var(--color-blauweSchaduw), 
						0 1.2px 0 var(--color-blauweSchaduw),
						-1.2px 1.2px 0 var(--color-blauweSchaduw),
						-1.2px 0 0 var(--color-blauweSchaduw),
						0 1.2px 0 var(--color-blauweSchaduw),
						-1.2px 1.2px 0 var(--color-blauweSchaduw),
						1.2px 1.2px 0 var(--color-blauweSchaduw);
	color: var(--color-beige);
    font-family: kopjes;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .2px;
    padding: 8px 30px 6px;
    text-shadow: 	-1.2px -1.2px 0 var(--color-blauweSchaduw),
					0 -1.2px 0 var(--color-blauweSchaduw), 
					1.2px -1.2px 0 var(--color-blauweSchaduw), 
					1.2px 0 0 var(--color-blauweSchaduw), 
					1.2px 1.2px 0 var(--color-blauweSchaduw),
					0 1.2px 0 var(--color-blauweSchaduw),
					-1.2px 1.2px 0 var(--color-blauweSchaduw),
					-1.2px 0 0 var(--color-blauweSchaduw),
					0 1.2px 0 var(--color-blauweSchaduw),
					-1.2px 1.2px 0 var(--color-blauweSchaduw),
					1.2px 1.2px 0 var(--color-blauweSchaduw);
    text-transform: uppercase;
	cursor: pointer;
	transition: transform 0.5s ease;
}
section:nth-of-type(6) button:hover {
	transform: scale(1.2);
	cursor: pointer;
	background: var(--gradient-hover-groen);
  }

section:nth-of-type(6) img:nth-of-type(1){
	grid-area: titel;
	width: 30%;
	translate: -110% -15%;
	order:1;
}

section:nth-of-type(6) img:nth-of-type(2){
	grid-area: afbeeldingen;
	width: 30%;
	translate: 120% -20%;
}

section:nth-of-type(6) img:nth-of-type(3){
	grid-area: afbeeldingen;
	width: 40%;
	place-self: end start;
}